<header class="banner">
    <p id="posi3" style="color:white">
        Not signed in.
    </p>
    <h1 style="text-align:center; color:white">EventLite!</h1>
    <h3 style="text-align:center; color:white">Now explore it like never before</h3>
</header>
